In [2]:
import pandas as pd

# 그래프에서 한글을 표시하기 위해 한글 폰트 필요
# 아래는 리눅스용이므로 위도우에서 사용할 경우 안될 수 있습니다. 그러면 윈도우에서의 설정 방법을 찾아서 해야 합니다.
# apt-get install -y fonts-nanum

# https://dasom.net/108

import matplotlib.pyplot as plt
plt.rc('axes', unicode_minus=False)
plt.rcParams["font.family"] = "NanumGothic"

Duplicate key in file PosixPath('/opt/conda/lib/python3.8/site-packages/matplotlib/mpl-data/matplotlibrc'), line 257 ('font.family: NanumGothic')

In [3]:
# 모든 행을 보기위한 설정
pd.set_option('display.max_rows', None)

In [6]:
total_file = "/data/MTDATA/fn-2-018/manifest/total/total.csv"
total_df = pd.read_csv(total_file)

gw_file = "/data/MTDATA/fn-2-018/manifest/gw/total.csv"
gw_df = pd.read_csv(gw_file)

gs_file = "/data/MTDATA/fn-2-018/manifest/gs/total.csv"
gs_df = pd.read_csv(gs_file)

jl_file = "/data/MTDATA/fn-2-018/manifest/jl/total.csv"
jl_df = pd.read_csv(jl_file)

jj_file = "/data/MTDATA/fn-2-018/manifest/jj/total.csv"
jj_df = pd.read_csv(jj_file)

cc_file = "/data/MTDATA/fn-2-018/manifest/cc/total.csv"
cc_df = pd.read_csv(cc_file)

In [4]:
total_df.describe()

           duration
count  1.357036e+06
mean   8.079943e+00
std    6.566307e+00
min   -7.200000e-01
25%    3.930000e+00
50%    6.519000e+00
75%    1.002000e+01
max    3.183510e+02

In [5]:
total_df.head()

,ID,duration,wav,province_code,wrd
0,total-talk_set1_collectorgs217_speakergs2272_s...,1.059,/data/MTDATA/fn-2-018/root/people/talk/gs/coll...,total,용돈이 더 좋다
1,total-talk_set1_collectorgs217_speakergs2272_s...,9.940,/data/MTDATA/fn-2-018/root/people/talk/gs/coll...,total,선물은 잘못 사가 오니까 마음에 안 들더라고 또 마음에 안 들고 용돈을 주면 내 마...
2,total-talk_set1_collectorgs217_speakergs2272_s...,1.970,/data/MTDATA/fn-2-018/root/people/talk/gs/coll...,total,그렇죠 용돈이 좋죠
3,total-talk_set1_collectorgs217_speakergs2272_s...,4.430,/data/MTDATA/fn-2-018/root/people/talk/gs/coll...,total,그래야 내가 사고 싶은 거를 사는 게 나으니까 용돈이 더 좋죠
4,total-talk_set1_collectorgs217_speakergs2272_s...,7.330,/data/MTDATA/fn-2-018/root/people/talk/gs/coll...,total,선물 뭐 받을 때 기분은 좋은데 있는 게 또 있을 수도 있고 그러니까 용돈이 더 좋다

In [7]:
print(f'토탈 시간 합계 : {total_df.duration.sum()/3600}')
print(f'강원 시간 합계 : {gw_df.duration.sum()/3600}')
print(f'경상 시간 합계 : {gs_df.duration.sum()/3600}')
print(f'전라 시간 합계 : {jl_df.duration.sum()/3600}')
print(f'제주 시간 합계 : {jj_df.duration.sum()/3600}')
print(f'충청 시간 합계 : {cc_df.duration.sum()/3600}')

토탈 시간 합계 : 3045.7704791666665
강원 시간 합계 : 544.0464611111111
경상 시간 합계 : 793.1324330555557
전라 시간 합계 : 878.9721022222219
제주 시간 합계 : 157.2564122222222
충청 시간 합계 : 672.3630705555557

In [24]:
total_short_100 = total_df.sort_values(by=['duration']).head(100)
# total_short_100

total_short_100_file = "/data/MTDATA/fn-2-018/manifest/total/total_short_100.csv"
total_short_100.to_csv("/data/MTDATA/fn-2-018/manifest/total/total_short_100.csv", index=False)

In [25]:
total_long_100 = total_df.sort_values(by=['duration'], ascending=False).head(100)
# total_long_100
total_long_100_file = "/data/MTDATA/fn-2-018/manifest/total/total_long_100.csv"
total_long_100.to_csv("/data/MTDATA/fn-2-018/manifest/total/total_long_100.csv", index=False)

In [23]:
total_random_100 = total_df.sample(n=100, # number of items from axis to return.
          random_state=7774) # seed for random number generator for reproducibility

In [11]:
total_df.sample(frac=0.000005, # fraction of axis items to return.
          random_state=7774)

,ID,duration,wav,province_code,wrd
397325,total-say_set1_collectorgs65_speakergs2211_27_...,5.599,/data/MTDATA/fn-2-018/root/person/say/gs/colle...,total,그래 누가 어디 가서 이야기 아들이라 카더라고요 그래 낳아 보니 진짜 아들이더라고예
206458,total-talk_set1_collectorjl186_speakerjl2307_s...,3.589,/data/MTDATA/fn-2-018/root/people/talk/jl/coll...,total,그먼 좋기는 좋지만은 나는 현찰이 필요하요야
425627,total-say_set1_collectorgs384_speakergs3749_15...,4.530,/data/MTDATA/fn-2-018/root/person/say/gs/colle...,total,꽃보다 단풍이 더 좋은 것 겉더라 꽃도 좋아하는데
334724,total-say_set1_collectorgs436_speakergs4107_64...,4.610,/data/MTDATA/fn-2-018/root/person/say/gs/colle...,total,옛날에는 뜨거운 물 사용할라면은 힘들었어요
800537,total-say_set3_collectorjl124_speakerjl1249_40...,12.511,/data/MTDATA/fn-2-018/root/person/say/jl/colle...,total,그러니까 이 년도 안된 에어컨이 중고상에 내놓으라니까 한 육 칠십 만 원밖에 안 되...
1004435,total-say_set1_collectorgw197_speakergw1410_47...,14.609,/data/MTDATA/fn-2-018/root/person/say/gw/colle...,total,가장 힘든 거야 뭐 내가 볼 때 가장 힘들 때가 여름에 무더울 때 김 내고 이럴 때...
419430,total-say_set1_collectorgs348_speakergs2670_41...,3.350,/data/MTDATA/fn-2-018/root/person/say/gs/colle...,total,물려 입는 것에 대해 좋다꼬 생각합니다

In [12]:
total_df['duration'].sample(n=5, random_state=7774)

397325     5.599
206458     3.589
425627     4.530
334724     4.610
800537    12.511
Name: duration, dtype: float64

In [ ]:
say_talk_df["gender"].value_counts().sort_index().plot(kind="bar")