In [1]:
import pandas as pd

# 그래프에서 한글을 표시하기 위해 한글 폰트 필요
# 아래는 리눅스용이므로 위도우에서 사용할 경우 안될 수 있습니다. 그러면 윈도우에서의 설정 방법을 찾아서 해야 합니다.
# apt-get install -y fonts-nanum

# https://dasom.net/108

import matplotlib.pyplot as plt
plt.rc('axes', unicode_minus=False)
plt.rcParams["font.family"] = "NanumGothic"

Duplicate key in file PosixPath('/opt/conda/lib/python3.8/site-packages/matplotlib/mpl-data/matplotlibrc'), line 257 ('font.family: NanumGothic')

In [2]:
# 모든 행을 보기위한 설정
pd.set_option('display.max_rows', None)

In [3]:
data_file = "kdialect_annot_utter_type.csv"
annot_df = pd.read_csv(data_file)

In [4]:
# annot_df.dtypes
# annot_df.info
annot_df.describe()
# annot_df.describe

         birth_year
count  1.325878e+06
mean   1.954827e+03
std    1.365340e+01
min    1.052000e+03
25%    1.949000e+03
50%    1.955000e+03
75%    1.961000e+03
max    1.999000e+03

In [5]:
annot_df["birth_year"].value_counts().sort_index()

1052.0       47
1630.0       56
1647.0      424
1651.0      191
1653.0      213
1656.0       55
1660.0      143
1664.0       42
1921.0       25
1924.0        1
1929.0      226
1930.0      595
1931.0      791
1932.0      385
1933.0     1148
1934.0     1651
1935.0     4178
1936.0     5462
1937.0     6059
1938.0     8823
1939.0    13664
1940.0    13661
1941.0    16114
1942.0    28778
1943.0    28419
1944.0    31309
1945.0    27422
1946.0    34087
1947.0    46965
1948.0    44639
1949.0    55968
1950.0    56114
1951.0    50657
1952.0    69544
1953.0    56424
1954.0    48367
1955.0    58343
1956.0    52555
1957.0    58906
1958.0    44297
1959.0    46515
1960.0    52384
1961.0    52069
1962.0    30083
1963.0    22372
1964.0    29336
1965.0    28668
1966.0    24663
1967.0    20483
1968.0    23258
1969.0    28721
1970.0    30074
1971.0    27956
1972.0    27189
1973.0    13635
1974.0      417
1975.0      162
1976.0       27
1978.0      194
1979.0       98
1980.0       16
1982.0      353
1983.0        3
1986.0       51
1987.0       46
1994.0      160
1996.0      156
1999.0       41
Name: birth_year, dtype: int64

In [5]:
say_talk_df = annot_df[(annot_df["utterance_type"] == "say") | (annot_df["utterance_type"] == "talk")]

In [6]:
say_talk_df.head()

,json_file_name,utterance_type,speaker_id,residence_province,gender,birth_year,sentence_id,intent_type,intent_category,emotion_type,grammar_type
0,say_set2_collectorjl122_speakerjl1996_16_1_36,say,speakerjl1996,jl,f,1950.0,1.0,REP,추측,irrelevant,DEC
1,say_set2_collectorjl122_speakerjl1996_16_1_36,say,speakerjl1996,jl,f,1950.0,2.0,DES,객관적경험,irrelevant,DEC
2,say_set2_collectorjl122_speakerjl1996_16_1_36,say,speakerjl1996,jl,f,1950.0,3.0,REP,판단,irrelevant,DEC
3,say_set2_collectorjl122_speakerjl1996_16_1_36,say,speakerjl1996,jl,f,1950.0,4.0,DES,객관적경험,irrelevant,DEC
4,say_set1_collectorgw198_speakergw1713_21_0_11,say,speakergw1713,gw,f,1962.0,1.0,DES,객관적경험,irrelevant,DEC

In [ ]:
say_talk_df.describe()

In [ ]:
# 연령대
# 30대 : 1982 ~ 1991
# 40대 : 1972 ~ 1981
# 50대 : 1962 ~ 1971
# 60대 : 1952 ~ 1961
# 70대 : 1942 ~ 1951
# 80대 : 1932 ~ 1941
# 90대 : 1922 ~ 1931

annot_30_df = say_talk_df[(1982 <= annot_df["birth_year"]) & (annot_df["birth_year"] <= 1991)]
annot_40_df = say_talk_df[(1972 <= annot_df["birth_year"]) & (annot_df["birth_year"] <= 1981)]
annot_50_df = say_talk_df[(1962 <= annot_df["birth_year"]) & (annot_df["birth_year"] <= 1971)]
annot_60_df = say_talk_df[(1952 <= annot_df["birth_year"]) & (annot_df["birth_year"] <= 1961)]
annot_70_df = say_talk_df[(1942 <= annot_df["birth_year"]) & (annot_df["birth_year"] <= 1951)]
annot_80_df = say_talk_df[(1932 <= annot_df["birth_year"]) & (annot_df["birth_year"] <= 1941)]
annot_90_df = say_talk_df[(1922 <= annot_df["birth_year"]) & (annot_df["birth_year"] <= 1931)]

# ages = ["30", "40", "50", "60", "70", "80", "90"]
# tag_type = ["intent", "category", "emotion", "grammar"]

In [ ]:
say_talk_df["birth_year"].value_counts().sort_index()

In [ ]:
say_talk_df["gender"].value_counts().sort_index()

In [ ]:
say_talk_df["gender"].value_counts().sort_index().plot(kind="bar")