In [34]:
import pandas as pd
import librosa
from pathlib import Path

In [35]:
# 강원
data_file = '/workspace/speechbrain/recipes/KdialectSpeech/Tokenizer/results/5K_subword_unigram_LM/gw/total.csv'
train_data_file = '/workspace/speechbrain/recipes/KdialectSpeech/Tokenizer/results/5K_subword_unigram_LM/gw/train.csv'

In [36]:
data_df = pd.read_csv(data_file)
train_data_df = pd.read_csv(train_data_file)

In [37]:
data_df.describe()

            duration
count  105520.000000
mean        7.644111
std         5.881174
min         0.090000
25%         3.230000
50%         6.183000
75%        10.349000
max        30.000000

In [38]:
data_df.duration.sum()/3600

224.05739333333338

In [39]:
train_data_df.describe()

           duration
count  84416.000000
mean       7.419014
std        5.929310
min        0.090000
25%        2.990000
50%        5.830000
75%       10.130000
max       30.000000

In [40]:
train_data_df.duration.sum()/3600

173.9676272222222

In [41]:
# 경상
data_file = '/workspace/speechbrain/recipes/KdialectSpeech/Tokenizer/results/5K_subword_unigram_LM/gs/total.csv'
train_data_file = '/workspace/speechbrain/recipes/KdialectSpeech/Tokenizer/results/5K_subword_unigram_LM/gs/train.csv'
# Path(data_file).stem

In [42]:
data_df = pd.read_csv(data_file)
train_data_df = pd.read_csv(train_data_file)

In [43]:
data_df.describe()

            duration
count  149552.000000
mean        8.118802
std         5.796094
min         0.100000
25%         4.119000
50%         6.659000
75%        10.449000
max        30.000000

In [44]:
data_df.duration.sum()/3600

337.27309527777777

In [45]:
train_data_df.describe()

            duration
count  119642.000000
mean        8.439290
std         6.320624
min         0.100000
25%         3.590000
50%         6.795000
75%        11.650000
max        30.000000

In [46]:
train_data_df.duration.sum()/3600

280.47042194444447

In [47]:
# 전라
data_file = '/workspace/speechbrain/recipes/KdialectSpeech/Tokenizer/results/5K_subword_unigram_LM/jl/total.csv'
train_data_file = '/workspace/speechbrain/recipes/KdialectSpeech/Tokenizer/results/5K_subword_unigram_LM/jl/train.csv'

In [48]:
data_df = pd.read_csv(data_file)
train_data_df = pd.read_csv(train_data_file)

In [49]:
data_df.describe()

           duration
count  26390.000000
mean       7.013694
std        5.161134
min        0.100000
25%        3.190000
50%        5.865500
75%        9.359000
max       29.999000

In [50]:
data_df.duration.sum()/3600

51.414275555555555

In [51]:
train_data_df.describe()

           duration
count  21112.000000
mean       7.055797
std        5.524324
min        0.100000
25%        2.890000
50%        5.565500
75%        9.745000
max       29.999000

In [52]:
train_data_df.duration.sum()/3600

41.37833166666667

In [53]:
# 제주
data_file = '/workspace/speechbrain/recipes/KdialectSpeech/Tokenizer/results/5K_subword_unigram_LM/jj/total.csv'
train_data_file = '/workspace/speechbrain/recipes/KdialectSpeech/Tokenizer/results/5K_subword_unigram_LM/jj/train.csv'

In [54]:
data_df = pd.read_csv(data_file)
train_data_df = pd.read_csv(train_data_file)

In [55]:
data_df.describe()

          duration
count  1863.000000
mean      3.945695
std       2.208224
min       0.370000
25%       2.712000
50%       3.525000
75%       4.673500
max      27.811000

In [56]:
data_df.duration.sum()/3600

2.0418969444444444

In [57]:
train_data_df.describe()

          duration
count  1490.000000
mean      3.885705
std       2.286130
min       0.370000
25%       2.687250
50%       3.431000
75%       4.539000
max      27.811000

In [58]:
train_data_df.duration.sum()/3600

1.6082502777777778

In [59]:
# 충청
data_file = '/workspace/speechbrain/recipes/KdialectSpeech/Tokenizer/results/5K_subword_unigram_LM/cc/total.csv'
train_data_file = '/workspace/speechbrain/recipes/KdialectSpeech/Tokenizer/results/5K_subword_unigram_LM/cc/train.csv'

In [60]:
data_df = pd.read_csv(data_file)
train_data_df = pd.read_csv(train_data_file)

In [61]:
data_df.describe()

           duration
count  24031.000000
mean       6.867127
std        4.786001
min        0.100000
25%        3.679000
50%        5.860000
75%        8.542500
max       29.963000

In [62]:
data_df.duration.sum()/3600

45.839982500000005

In [63]:
train_data_df.describe()

           duration
count  19225.000000
mean       7.010365
std        5.246368
min        0.100000
25%        3.199000
50%        5.699000
75%        9.300000
max       29.963000

In [64]:
train_data_df.duration.sum()/3600

37.43729472222222

In [65]:
# sr_abnormal_list = []
# for file_path in data_df.wav:
#     frame_rate = librosa.get_samplerate(file_path)
#     if frame_rate != 16000:
#         # print(f'sample rate {frame_rate} : {file_path}')
#         name = Path(file_path).stem
#         # if '-' not in name:
#         #     print(name)
#         #     sr_abnormal_list.append(name)
        
#         # sr_abnormal_list.append(name)
#         sr_abnormal_list.append(file_path)

#         # ar_abnormal = f'sample rate {frame_rate} : {file_path}'
#         # sr_abnormal_list.append(ar_abnormal)

# sr_abnormal_df = pd.DataFrame(sr_abnormal_list)
# sr_abnormal_df.to_csv('sr_48k_2.csv')

In [66]:
# len(sr_abnormal_list)

In [67]:
# sr_abnormal_list[:100]

In [68]:
# sr_abnormal_list #[:10]

In [69]:
# for sr_abnormal in sr_abnormal_list:
#     if '-' not in sr_abnormal:
#         print(sr_abnormal)

In [70]:
# data_file_2 = '/speechbrain/recipes/KdialectSpeech/Tokenizer/results/2K_subword_unigram_LM/gs/train.csv'

In [71]:
# data_df_2 = pd.read_csv(data_file_2)

In [72]:
# data_df_2.describe()