In [1]:
import pandas as pd
import numpy as np

In [2]:
manifest_file = "data/total.csv"
manifest_df = pd.read_csv(manifest_file)

In [3]:
manifest_df.describe()

           duration
count  1.619810e+06
mean   8.039109e+00
std    6.258208e+00
min   -7.200000e-01
25%    4.199000e+00
50%    6.670000e+00
75%    9.849000e+00
max    3.183510e+02

In [6]:
manifest_gt_30_df = manifest_df[manifest_df["duration"] > 30.0]
manifest_gt_30_df.head()

,ID,duration,wav,province_code,wrd
33,say_set1_collectorgs103_speakergs389_46_0_51-1,38.830,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gs,군불을 떼가지고 방을 따뜻하게 데워서 이제 말 그대로 위에 공기는 서늘하고 밑에는 ...
256,talk_set2_collectorcc132_speakercc2265_speaker...,38.650,/data/aidata/sentence/139-2.중·노년층 한국어 방언 데이터 (...,cc,그래서 딸기하고 블루베리 허면 너 돈 남을 거 같냐 물어봤더니 남는댜 우티게 남냐 ...
259,say_set1_collectorgw135_speakergw1724_65_0_32-0,31.169,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,강릉에서 많이 재배되는 거는 당연코 감재가 아니겠나 감재는 어떻게 해서 먹어도 맛있...
314,say_set1_collectorgw191_speakergw1960_30_0_57-2,31.740,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,계란 찜 할 때는 뭐 소금 조금 옇고 나 좋아하는 건 미온이니까 미온 조금 넣고 그...
445,say_set3_collectorgs238_speakergs2152_46_0_33-0,31.999,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gs,가족들이 모이먼은 한 잔 묵고 인자 기분이 좋아지믄 윷놀이도 하고 또 고스톱 치는 ...

In [7]:
manifest_gt_30_df.describe()

           duration
count  20756.000000
mean      38.241187
std       10.431296
min       30.003000
25%       32.039000
50%       34.979000
75%       40.500000
max      318.351000