In [2]:
import os
from pathlib import Path
import glob
import json

import pandas as pd

In [15]:
sentence_df = pd.read_csv("/data/aidata/sentence/jj.csv")

In [16]:
sentence_df.describe()

           duration
count  89946.000000
mean       7.246382
std        6.997639
min        0.100000
25%        3.171000
50%        4.697500
75%        8.769000
max      165.018000

In [17]:
sentence_df["duration"].sum()/3600

181.05086138888888