In [1]:
import pandas as pd

# 그래프에서 한글을 표시하기 위해 한글 폰트 필요
# 아래는 리눅스용이므로 위도우에서 사용할 경우 안될 수 있습니다. 그러면 윈도우에서의 설정 방법을 찾아서 해야 합니다.
# apt-get install -y fonts-nanum

# https://dasom.net/108

import matplotlib.pyplot as plt
plt.rc('axes', unicode_minus=False)
plt.rcParams["font.family"] = "NanumGothic"

Duplicate key in file PosixPath('/opt/conda/lib/python3.8/site-packages/matplotlib/mpl-data/matplotlibrc'), line 257 ('font.family: NanumGothic')

In [2]:
# 모든 행을 보기위한 설정
pd.set_option('display.max_rows', None)

In [3]:
gw_file = "/data/aidata/sentence/gw.csv"
gw_df = pd.read_csv(gw_file)

gs_file = "/data/aidata/sentence/gs.csv"
gs_df = pd.read_csv(gs_file)

jl_file = "/data/aidata/sentence/jl.csv"
jl_df = pd.read_csv(jl_file)

jj_file = "/data/aidata/sentence/jj.csv"
jj_df = pd.read_csv(jj_file)

cc_file = "/data/aidata/sentence/cc.csv"
cc_df = pd.read_csv(cc_file)

In [4]:
gw_df.describe()

            duration
count  303859.000000
mean        8.592264
std         6.393483
min         0.090000
25%         4.470000
50%         7.459000
75%        10.679000
max       160.030000

In [5]:
gw_df.head()

,ID,duration,wav,province_code,wrd
0,talk_set1_collectorgw99_speakergw459_speakergw...,4.151,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,어머 자기는 뭐 좋아해 나는 회가 난 굉장히 좋아하거든
1,talk_set1_collectorgw99_speakergw459_speakergw...,1.948,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,회를 좋아해요 어머 나 회 싫어해
2,talk_set1_collectorgw99_speakergw459_speakergw...,0.817,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,어머 어머 어머 그래
3,talk_set1_collectorgw99_speakergw459_speakergw...,4.779,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,왜냐하면은 그 날 것에 대해서 별로 안 좋은 기억이 있어가지고
4,talk_set1_collectorgw99_speakergw459_speakergw...,0.386,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,어

In [5]:
print(f'강원 시간 합계 : {gw_df.duration.sum()/3600}')
print(f'경상 시간 합계 : {gs_df.duration.sum()/3600}')
print(f'전라 시간 합계 : {jl_df.duration.sum()/3600}')
print(f'제주 시간 합계 : {jj_df.duration.sum()/3600}')
print(f'충청 시간 합계 : {cc_df.duration.sum()/3600}')

강원 시간 합계 : 725.2324433333332
경상 시간 합계 : 1085.9429852777778
전라 시간 합계 : 911.6785638888888
제주 시간 합계 : 181.05086138888888
충청 시간 합계 : 713.2700569444444

In [6]:
gw_short_1000_df = gw_df.sort_values(by=['duration']).head(1000)
gw_short_1000_file = "/data/aidata/sentence/gw_short_1000.csv"
gw_short_1000_df.to_csv(gw_short_1000_file, index=False)
# gw_short_1000_df

In [7]:
gs_short_1000_df = gs_df.sort_values(by=['duration']).head(1000)
gs_short_1000_file = "/data/aidata/sentence/gs_short_1000.csv"
gs_short_1000_df.to_csv(gs_short_1000_file, index=False)
# gs_short_1000_df

In [8]:
cc_short_1000_df = cc_df.sort_values(by=['duration']).head(1000)
cc_short_1000_file = "/data/aidata/sentence/cc_short_1000.csv"
cc_short_1000_df.to_csv(cc_short_1000_file, index=False)
# cc_short_1000_df

In [9]:
jl_short_1000_df = jl_df.sort_values(by=['duration']).head(1000)
jl_short_1000_file = "/data/aidata/sentence/jl_short_1000.csv"
jl_short_1000_df.to_csv(jl_short_1000_file, index=False)

In [10]:
jj_short_1000_df = jj_df.sort_values(by=['duration']).head(1000)
jj_short_1000_file = "/data/aidata/sentence/jj_short_1000.csv"
jj_short_1000_df.to_csv(jj_short_1000_file, index=False)

In [11]:
len(gw_df) \
+ len(gs_df) \
+ len(jl_df) \
+ len(jj_df) \
+ len(cc_df)

1619810

In [12]:
total_df = pd.concat([gw_df, gs_df, jl_df, jj_df, cc_df])

In [13]:
len(total_df)

1619810

In [23]:
# total_df.head()

,ID,duration,wav,province_code,wrd
0,talk_set1_collectorgw99_speakergw459_speakergw...,4.151,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,어머 자기는 뭐 좋아해 나는 회가 난 굉장히 좋아하거든
1,talk_set1_collectorgw99_speakergw459_speakergw...,1.948,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,회를 좋아해요 어머 나 회 싫어해
2,talk_set1_collectorgw99_speakergw459_speakergw...,0.817,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,어머 어머 어머 그래
3,talk_set1_collectorgw99_speakergw459_speakergw...,4.779,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,왜냐하면은 그 날 것에 대해서 별로 안 좋은 기억이 있어가지고
4,talk_set1_collectorgw99_speakergw459_speakergw...,0.386,/data/aidata/sentence/139-1.중·노년층 한국어 방언 데이터 (...,gw,어

In [14]:
total_shuffled_df = total_df.sample(frac=1, random_state=7774)
# total_shuffled_df.head()

In [15]:
total_file = "/data/aidata/sentence/total.csv"
total_shuffled_df.to_csv(total_file, index=False)

In [23]:
total_random_100 = total_df.sample(n=100, # number of items from axis to return.
          random_state=7774) # seed for random number generator for reproducibility

In [11]:
total_df.sample(frac=0.000005, # fraction of axis items to return.
          random_state=7774)

,ID,duration,wav,province_code,wrd
397325,total-say_set1_collectorgs65_speakergs2211_27_...,5.599,/data/MTDATA/fn-2-018/root/person/say/gs/colle...,total,그래 누가 어디 가서 이야기 아들이라 카더라고요 그래 낳아 보니 진짜 아들이더라고예
206458,total-talk_set1_collectorjl186_speakerjl2307_s...,3.589,/data/MTDATA/fn-2-018/root/people/talk/jl/coll...,total,그먼 좋기는 좋지만은 나는 현찰이 필요하요야
425627,total-say_set1_collectorgs384_speakergs3749_15...,4.530,/data/MTDATA/fn-2-018/root/person/say/gs/colle...,total,꽃보다 단풍이 더 좋은 것 겉더라 꽃도 좋아하는데
334724,total-say_set1_collectorgs436_speakergs4107_64...,4.610,/data/MTDATA/fn-2-018/root/person/say/gs/colle...,total,옛날에는 뜨거운 물 사용할라면은 힘들었어요
800537,total-say_set3_collectorjl124_speakerjl1249_40...,12.511,/data/MTDATA/fn-2-018/root/person/say/jl/colle...,total,그러니까 이 년도 안된 에어컨이 중고상에 내놓으라니까 한 육 칠십 만 원밖에 안 되...
1004435,total-say_set1_collectorgw197_speakergw1410_47...,14.609,/data/MTDATA/fn-2-018/root/person/say/gw/colle...,total,가장 힘든 거야 뭐 내가 볼 때 가장 힘들 때가 여름에 무더울 때 김 내고 이럴 때...
419430,total-say_set1_collectorgs348_speakergs2670_41...,3.350,/data/MTDATA/fn-2-018/root/person/say/gs/colle...,total,물려 입는 것에 대해 좋다꼬 생각합니다

In [12]:
total_df['duration'].sample(n=5, random_state=7774)

397325     5.599
206458     3.589
425627     4.530
334724     4.610
800537    12.511
Name: duration, dtype: float64

In [ ]:
say_talk_df["gender"].value_counts().sort_index().plot(kind="bar")